<div class="bg-success text-white text-center py-lg-5 py-2 shadow-lg">
    <h2 class="mb-5 fs-1 fw-300">Care instructions</h2>
    <div class="container">
        <div class="row align-items-baseline">
            <div class="col-lg-2 col-6">
                <div data-bs-toggle="modal" data-bs-target="#careModal"
                    class="d-flex flex-column align-items-center">
                    <img data-content="upcycle" role="button" src="/public/media/care/dog-1.svg" alt="Care icon"
                        >
                    <span class="mt-3 fs-5 fw-300">Upcycled Dog Carrier</span>
                </div>
            </div>
            <div class="col-lg-2 col-6">
                <div class="d-flex flex-column align-items-center" data-bs-toggle="modal"
                    data-bs-target="#careModal">
                    <img role="button" data-content="sweater" src="/public/media/care/dog-2.svg" alt="Care icon"
                        >
                    <span class="mt-3 fs-5 fw-300">Knitted Sweater</span>
                </div>
            </div>
            <div class="col-lg-2 col-6">
                <div class="d-flex flex-column align-items-center" data-bs-toggle="modal"
                    data-bs-target="#careModal">
                    <img role="button" data-content="hoody" src="/public/media/care/dog-3.svg" alt="Care icon"
                        >
                    <span class="mt-3 fs-5 fw-300">Hoody</span>
                </div>
            </div>
            <div class="col-lg-2 col-6">
                <div class="d-flex flex-column align-items-center" data-bs-toggle="modal"
                    data-bs-target="#careModal">
                    <img role="button" data-content="vest" src="/public/media/care/dog-4.svg" alt="Care icon"
                        >
                    <span class="mt-3 fs-5 fw-300">Vest</span>
                </div>
            </div>
            <div class="col-lg-2 col-6">
                <div class="d-flex flex-column align-items-center" data-bs-toggle="modal"
                    data-bs-target="#careModal">
                    <img role="button" data-content="jacket" src="/public/media/care/dog-5.svg" alt="Care icon"
                        >
                    <span class="mt-3 fs-5 fw-300">Jacket</span>
                </div>
            </div>
            <div class="col-lg-2 col-6">
                <div class="d-flex flex-column align-items-center" data-bs-toggle="modal"
                    data-bs-target="#careModal">
                    <img role="button" data-content="accessories" src="/public/media/care/dog-6.svg" alt="Care icon"
                        >
                    <span class="mt-3 fs-5 fw-300">Accessories</span>
                </div>
            </div>
        </div>
    </div>
</div>
</div>