<div class="position-relative">
  <!-- fake navegation -->
  <div class="navbar navbar-expand-lg py-2 opacity-0">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <span class="navbar-brand mx-auto d-none d-lg-block" data-logo-include>
          </span>
        </li>
      </ul>
    </div>
    <button class="navbar-toggler" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="hero-image"></div>
  <div class="position-absolute top-0 bottom-0 end-0 start-0 d-flex align-items-end align-items-lg-center">
    <div>
      <!-- Text Card -->
      <div class="col-8 col-lg-6 offset-lg-1">
        <h1 class="text-center bg-success m-0 text-white p-2 rounded-top-5">Welcome, fellow pet lover!</h1>
      </div>
      <div class="offset-lg-1 col-lg-6">
        <div class="text-white rounded-lg-4">
          <p class="m-0 fs-4 p-lg-4 p-2 lh-sm bg-success discount-content">
            If you’ve found your way here, it means you truly care about your
            furry friend and have just received your order from LovelyPawsUA. To
            celebrate this little moment of joy, we’re thrilled to gift you a
            special discount on your next purchase. Let’s make your pet’s world
            even cozier, one thoughtful piece at a time.
          </p>
        </div>
        <div class="d-flex justify-content-end mt-lg-4 bg-success p-lg-0 p-2 discount-button">
          <a href="https://lovelypawsua.etsy.com?coupon=THANKYOUCARD" target="_blank" rel="noopener noreferrer">
            <button class="btn btn-success rounded-4 text-shadow shadow">
              Get My Discount
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="position-absolute bottom-0 start-0 end-0 right-0 d-none d-lg-block">
    <div class="containe overflow-x-hidden">
      <div class="row">
        <div class="offset-4 col-lg-8 bg-white" style="border-top-left-radius: 120px">
          <h2 class="fs-1 p-3 text-center">About Us</h2>
        </div>
      </div>
    </div>
  </div>
</div>