<div class="bg-white py-2">
  <h2 class="fs-1 fw-300 text-center d-lg-none">About us</h2>
  <div class="container-lg position-relative">
    <div class="row flex-lg-row flex-column-reverse">
      <!-- Images Column -->
      <div class="col-lg-4 col-12 offset-lg-1 d-flex flex-lg-column mt-lg-5 p-4 p-lg-0">
        <img alt="Pets" src="/public/media/about/pet-1.jpg" class="img-fluid rounded mb-1"
          style="transform: rotate(-8deg);">
        <img alt="Pets" src="public/media/about/pet-2.jpg" class="img-fluid rounded mb-1"
          style="transform: rotate(8deg);">
        <img alt="Pets" src="public/media/about/pet-3.jpg" class="img-fluid rounded" style="transform: rotate(-8deg);">
      </div>
      <!-- Text Column -->
      <div class="col-lg-6 col-12 lh-sm fw-300 discount-content container">
        <p>Hi! I’m Alla, a pet mom from Ukraine.</p>
        <p>I’m the proud human of two wonderful Shih Tzus: Sheila and her daughter Cleo.</p>
        <p>A few years ago, during a very cold winter in Ukraine, I decided to knit cozy sweaters for my little girls.
          The very first walk in their new outfits brought so many compliments from fellow pet parents, and that’s when
          the idea sparked — if I could keep my own fur babies warm and happy, why not do the same for others?
        </p>
        <p id="about-collapsible-content">
          With my family’s encouragement, I started creating unique, handmade dog sweaters that are both functional and
          adorable. But my creativity didn’t stop there. When Sheila grew tired during long walks, I decided to sew a
          custom carrier for her. Looking for materials, I found my old denim jeans — and just like that, the first
          upcycled carrier was born!
          <br />
          That moment made me realize how much we can give a second life to materials we already have, creating
          beautiful and practical products while helping our planet.<br />
          By repurposing denim and other textiles, I hope to inspire others to make more sustainable choices, one small
          step at a time.<br />
          Today, my small family business is a true labor of love.<br />
          My daughter helps with creating listings, processing orders and shipping out packages to our customers around
          the world. Together, we pour care and passion into every piece we make — because we believe that every pet
          deserves a little extra love, warmth, and style.<br />
          Thank you for supporting our dream and for being part of our story!
        </p>
        <div class="d-block d-sm-none">
          <span role="button" class="text-secondary" id="about-collapsible-button">
            Read more
          </span>
        </div>
      </div>
    </div>
  </div>