<div class="bg-success text-white text-center py-5 shadow-lg">
  <h2 class="mb-5">Care instructions</h2>
  <div class="container">
    <div class="row">
      <div class="col-lg-2"> <img role="button" src="/public/media/care/dog-1.svg" alt="Care icon"
          style="width:auto; height:auto;"></div>
      <div class="col-lg-2"><img role="button" src="/public/media/care/dog-2.svg" alt="Care icon"
          style="width:auto; height:auto;"></div>
      <div class="col-lg-2"><img role="button" src="/public/media/care/dog-3.svg" alt="Care icon"
          style="width:auto; height:auto;"></div>
      <div class="col-lg-2"><img role="button" src="/public/media/care/dog-4.svg" alt="Care icon"
          style="width:auto; height:auto;"></div>
      <div class="col-lg-2"><img role="button" src="/public/media/care/dog-5.svg" alt="Care icon"
          style="width:auto; height:auto;"></div>
      <div class="col-lg-2"><img role="button" src="/public/media/care/dog-6.svg" alt="Care icon"
          style="width:auto; height:auto;"></div>
    </div>
  </div>
</div>
</div>