<div class="bg-white py-5" id="contact">
  <div class="container">
    <h2 class="fs-1 fw-300 text-center">Contact Me</h2>
    <p class="text-center mb-4 fs-4 fw-300">Feel free to reach out to me on these platforms:</p>
    <div class="container">
      <div class="row">
        <div class="col-1 offset-3">
          <a href="#">
            <img src="/public/media/contacts/instagram.svg" alt="instagram" class="img-fluid">
          </a>
        </div>
        <div class="col-1 ">
          <a href="#">
            <img src="/public/media/contacts/google.svg" alt="google" class="img-fluid">
          </a>
        </div>
        <div class="col-1 ">
          <a href="#">
            <img src="/public/media/contacts/pinterest.svg" alt="pinterest" class="img-fluid">
          </a>
        </div>
        <div class="col-1 ">
          <a href="#">
            <img src="/public/media/contacts/viber.svg" alt="viber" class="img-fluid">
          </a>
        </div>
        <div class="col-1 ">
          <a href="#">
            <img src="/public/media/contacts/tiktok.svg" alt="tiktok" class="img-fluid">
          </a>
        </div>
        <div class="col-1 ">
          <a href="#">
            <img src="/public/media/contacts/etsy.svg" alt="etsy" class="img-fluid">
          </a>
        </div>
      </div>
    </div>
    <div class="container mt-5">
      <div class="row">
        <div class="col-8 offset-2">
          <p class="fs-4 fw-300">
            At LovelyPawsUA, I don’t just knit and sew clothes and carriers for dogs — I create one-of-a-kind pieces
            full of personality and love.
            Each outfit is made from new high-quality yarn and fabrics, carefully chosen for your pet’s comfort and
            style.
            Dog carriers are crafted from upcycled denim, making each one not only unique but eco-friendly.
            By choosing upcycled products, you not only receive a unique item but also help reduce waste and give
            materials a new life.
            Thank you for caring for our planet! 🌎🐾
          </p>
        </div>
      </div>
    </div>

  </div>
</div>