<h2 class="my-lg-5 my-2 fs-1 fw-300 text-center">Our customers</h2>
<div class="swiper mySwiper container">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="media/customers/customer-1.jpg" alt="customer-1">
    </div>
    <div class="swiper-slide"><img src="media/customers/customer-2.jpg" alt="customer-1"></div>
    <div class="swiper-slide"><img src="media/customers/customer-3.jpg" alt="customer-1"></div>
    <div class="swiper-slide"><img src="media/customers/customer-1.jpg" alt="customer-1"></div>
    <div class="swiper-slide"><img src="media/customers/customer-2.jpg" alt="customer-1"></div>
    <div class="swiper-slide"><img src="media/customers/customer-3.jpg" alt="customer-1"></div>
  </div>
  <div class="swiper-pagination"></div>
</div>