  <div class="position-relative">
    <div style="background-image: url('https://refine-web.imgix.net/blog/2023-05-15-vite-js/social-2.png?w=1788'); background-size: cover; background-position: center; height: 90vh;"></div>
    <div class="container position-absolute top-0 mt-5 pt-5 ps-5 ms-5">
      <div class="row h-100 align-items-center">
        <!-- Text Card -->
        <div class="col-lg-5">
          <div class="bg-success text-white p-5 rounded-4">
            <h2>Welcome, fellow pet lover!</h2>
            <p>If you’ve found your way here, it means you truly care about your furry friend and have just received your order from LovelyPawsUA. To celebrate this little moment of joy, we’re thrilled to gift you a special discount on your next purchase. Let’s make your pet’s world even cozier, one thoughtful piece at a time.</p>
          </div>
          <div class="d-flex justify-content-end mt-4">
            <button href="#" class="btn btn-success rounded-4 text-shadow">Get My Discount</button>
          </div>
        </div>
      </div>
    </div>
  </div>