:root {
  --bs-success: #5f901d; /* ваш новий “успішний” колір */
  --bs-success-rgb: 95, 144, 29; /* raw RGB triplet without rgba() */
}

html {
  scroll-behavior: smooth;
}

section[id] {
  scroll-margin-top: 80px; /* висота вашого navbar */
}

/* Override success button colors */
.btn-success {
  --bs-btn-bg: var(--bs-success);
  --bs-btn-border-color: var(--bs-success);
}

/* Override hover and active states for success buttons */
.btn-success:hover {
  background-color: #CFA41F !important;
  border-color: #CFA41F !important;
}

.btn-success:active,
.btn-success.active {
  background-color: #CFA41F !important;
  border-color: #CFA41F !important;
}

.text-shadow {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.fw-300 {
  font-weight: 300;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-image {
  background-image: url('/media/main.jpg');
  background-size: 50rem;
  background-position: right -5rem top 0;
  height: 90dvh;
}

.discount-content {
  font-size: calc(1rem + .3vw) !important;
}

#about img {
  max-width: 350px;
}
#about .col-lg-4 {
  overflow-x: auto;
}

#care img {
  height: 100px;
}

#care img,
#contacts img {
  transform: scale(1);
  transition: transform 0.2s ease-in-out;
}

#care img:hover,
#contacts img:hover {
    transform: scale(1.2);
}

.logo {
  height: 40px;
  width: 80px;
}

#about-collapsible-content {
  max-height: none; 
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

@media (min-width: 992px) { 
  .discount-button {
    background-color: transparent !important;
  }
  .discount-content {
    border-bottom-left-radius: var(--bs-border-radius-xxl);
    border-bottom-right-radius: var(--bs-border-radius-xxl);
  }
  #about .col-lg-4 {
    overflow-x: initial;
  }
  #customers img {
    width: initial;
  }
  #care img {
    height: 144px;
  }
  .logo {
    height: 50px;
    width: 90px;
  }
 }

@media (min-width: 576px) { 
  .hero-image {
    background-size: cover;
    background-position: center;
    height: 90vh;
  }
}

@media (max-width: 576px) { 
  #customers img {
    max-width: 360px;
  }
  #customers .swiper-slide {
    display: flex;
    justify-content: center;
  }
  #about-collapsible-content {
    max-height: 0;         
    overflow: hidden;
    transition: max-height 0.3s ease;
  }
  #about-collapsible-content.about-expanded {
    max-height: 100vh;       
  }
}
